header {
    display: flex;
    align-items: center;
    color: red;
}

.hero {
    width: 70px;
}

.nav {
    display: flex;
    align-items: row-reverse;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: red;
    
}

.nav links {
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    border-radius: 30px;
    color: red;
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.logo img {
    width: 70px;
    

}